{% extends "base.html" %}

{% load webdesign %}
    
{% block content %}

<h1 class="title">About SANS Data Analysis</h1>
<p>
<h4>Mission statement</h4>
<p>
The mission that has driven the development of this site can be described as the following: 
</p>

<blockquote>
<h4> 1- Create scentific software using current software development technology:</h4>
<p>
Software applications are continuously moving from deskptop applications to web applications. 
We believe that the same is true for scientific software. Proper software engineering practices
and modern tools will help build the applications that will push science forward. 
</p>

<h4> 2- Provide tools for scientific collaboration:</h4>
<p>
Science is a collaborative process. Now that the technology is readily available, we believe
that scientists should have analysis tools that also support the level of collaborative efforts
needed for their work.
</p>

</blockquote>


<h4>What is SANS?</h4>
<p>
If you don't know what small angle scattering is, chances are you will not enjoy this site. 
You're not missing much: it's all pretty boring really.
</p><br>

<h4>What is the path forward for this site?</h4>
<p>
In terms of data analysis, the current version of this SANS analysis web site only provides the computation of P(r) inversion. 
While doing so it provides users with data management and collaboration tools. This is a first step. Following your feedback,
data modeling and fitting will soon be available. Most importantly, we want to hear from you, the users, to tell us
what functionality you would like to use.
</p><br>

<h4>How can I get support?</h4>
<p>
   Write to support@sansanalysis.com
</p><br>

<h4>What version of the application am I currently using?</h4>
<p>
	You are using build {{ app_version }}.
</p><br>

<h4>Where is this site hosted?</h4>
<p>
	<div class='hosted_by'></div>
</p><br>


<p>


		
{% endblock %}	



